<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">

<!--
`<cells-bfm-controller-invoicing>` description.

Example:

```html
<cells-bfm-controller-invoicing></cells-bfm-controller-invoicing>
```

@demo demo/index.html
-->
<dom-module id="cells-bfm-controller-invoicing">
  <template>



  </template>
  <script src="cells-bfm-controller-invoicing.js"></script>
</dom-module>
